.home{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV_fE-NPwxi4p8mDFRMh3Onz-a5xfUmU3pUeQFTIyIfV_nDUqol5z58p_09q1q6mpG0k8&usqp=CAU);
    
    
}

.home_txt{
    font-size: 60px;
    text-align: center;
    text-size-adjust:15px;
    padding-top:500PX;
    padding-left:auto ;
    colour:white;
}
.about h2
     text-align:center ;
     
     font-size: 30px;
     padding :left;
     color: black;
}
{

}